<!-- 
Тег - это то из чего мы строим разметку сайта.
Тег имеет открывающуюся часть и закрывающуюся.
Тег может быть и одинарным.

<тег> - одинарный
<тег> содержимое </тег> - парный

Атрибут - это способ передать доп. информацию в тег
<тег название_атрибута="значение"> содержимое </тег>
-->

<h1>Умер человек-паук (Кружка Бэтмен)</h1>
<h2>Умер человек-паук (Кружка Бэтмен)</h2>
<h3>Умер человек-паук (Кружка Бэтмен)</h3>
<h4>Умер человек-паук (Кружка Бэтмен)</h4>
<h5>Умер человек-паук (Кружка Бэтмен)</h5>
<h6>Умер человек-паук (Кружка Бэтмен)</h6>

<img width="200" height="200" src="https://apple-nova.ru/files/blog_block_gallery/Статья_Spider_0.png" alt="Человек паук">

<video controls src="https://img-9gag-fun.9cache.com/photo/aOQOyAD_460svav1.mp4">
</video>

<audio controls src="http://commondatastorage.googleapis.com/codeskulptor-demos/DDR_assets/Sevish_-__nbsp_.mp3">
</audio>